<div>
  <div class="add-entity" (click)="showAddForm = !showAddForm">
    Add Patient
  </div>
  <div class="add-entity-form" *ngIf="showAddForm">
    <form (keydown.enter)="$event.preventDefault()">
      <div>
        <span>Name:</span>
        <input type="text" #name>
      </div>
      <div>
        <span>Clinic:</span>
        <select #clinic>
          <option value="">Not Selected</option>
          <option *ngFor="let clinic of clinics" value="{{ clinic.id }}">{{ clinic.name }}</option>
        </select>
      </div>
      <div>
        <button type="button" (click)="addPatient(name.value, clinic.value)">Submit</button>
      </div>
    </form>
  </div>
  <table border="1" class="entity-table">
    <tr>
      <th>Name</th>
      <th>Clinic</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let patient of patients">
      <td>
        {{ patient.name }}
      </td>
      <td>{{ getRelatedClinicName(patient.id) }}</td>
      <td>
        <div class="entity-action" routerLink="/patient/{{ patient.id }}">details</div>
        <div class="entity-action" (click)="deletePatient(patient.id)">delete</div>
      </td>
    </tr>
  </table>
</div>
