.navigation {
  text-align: center;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.24);

  span {
    cursor: pointer;
    padding-right: 20px;

    &.active {
      color: red;
    }

    &:focus {
      outline: none;
    }
  }
}

.container {
  padding: 20px;
}
